.checkout-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout-paper {
    width: 90%;
    max-width: 1200px;
    padding: 20px;
}

h3 {
    margin-bottom: 20px;
}

.place-order-button {
    margin-top: 20px;
}

.mui-text-field {
    margin-bottom: 16px; // Adjust this value as needed for desired spacing
}

.success-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: green;
    z-index: 1000; // Ensure it's above other elements
}